---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="accessibility-tests">
  <h1>Accessibility tests</h1>
  <ul>
    <li><a href="currencies">Currencies</a></li>
    <!-- <li><a href="nin-tour-old">NIN Peel it back tour (old)</a></li>
    <li><a href="nin-tour-new">NIN Peel it back tour (improved)</a></li> -->
  </ul>
</BaseLayout>
