<table>
  <caption class="sr-only">Tour dates</caption>
  <thead>
    <tr>
      <th><span class="sr-only">Date</span></th>
      <th><span class="sr-only">City</span></th>
      <th><span class="sr-only">Venue</span></th>
      <th><span class="sr-only">Ticket vendor link</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "MusicEvent",
            "name": "Nine Inch Nails",
            "description": "NIN live at 3Arena",
            "startDate": "2025-06-15",
            "endDate": "2025-06-15",
            "location": {
              "@type": "Place",
              "name": "3Arena",
              "address": {
                "@type": "PostalAddress",
                "addressLocality": "Dublin, Ireland",
                "addressRegion": "Dublin",
                "addressCountry": "Ireland"
              }
            },
            "url": "https://www.ticketmaster.ie/artist/735762?venueId=197033",
            "performer": {
              "@type": "MusicGroup",
              "name": "Nine Inch Nails",
              "sameAs": ["https://www.nin.com/"]
            }
          }
        </script><span>Jun-15</span>
      </td>
      <td><span>Dublin, Ireland</span></td>
      <td><span>3Arena</span></td>
      <td
        ><a
          href="https://www.ticketmaster.ie/artist/735762?venueId=197033"
          target="_blank"
          class="no-ajax buytickets-button underline"
          rel="noopener noreferrer"
        >
          Tickets <span class="sr-only"
            >for 3Arena in Dublin, Ireland on Jun-15</span
          >
        </a></td
      >
    </tr>

    <tr>
      <td><span>Jun-15</span></td>
      <td><span>Dublin, Ireland</span></td>
      <td><span>3Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for 3Arena in Dublin, Ireland on Jun-15</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jun-17</span></td>
      <td><span>Manchester, UK</span></td>
      <td><span>Co-op Live</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Co-op Live in Manchester, UK on Jun-17</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jun-18</span></td>
      <td><span>London, UK</span></td>
      <td><span>The O2</span></td>
      <td
        >Tickets <span class="sr-only">for The O2 in London, UK on Jun-18</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jun-20</span></td>
      <td><span>Cologne, Germany</span></td>
      <td><span>Lanxess Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Lanxess Arena in Cologne, Germany on Jun-20</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jun-21</span></td>
      <td><span>Dessel, Belgium</span></td>
      <td><span>Graspop</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Graspop in Dessel, Belgium on Jun-21</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jun-24</span></td>
      <td><span>Milan, Italy</span></td>
      <td><span>Parco della Musica Novegro</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Parco della Musica Novegro in Milan, Italy on Jun-24</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jun-26</span></td>
      <td><span>Zurich, Switzerland</span></td>
      <td><span>Hallenstadion</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Hallenstadion in Zurich, Switzerland on Jun-26</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jun-27</span></td>
      <td><span>Vienna, Austria</span></td>
      <td><span>Wiener Stadthalle</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Wiener Stadthalle in Vienna, Austria on Jun-27</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jun-29</span></td>
      <td><span>Amsterdam, Netherlands</span></td>
      <td><span>Ziggo Dome</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Ziggo Dome in Amsterdam, Netherlands on Jun-29</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jul-01</span></td>
      <td><span>Berlin, Germany</span></td>
      <td><span>Uber Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Uber Arena in Berlin, Germany on Jul-01</span
        ></td
      >
    </tr>

    <td><span>Jul-03</span></td>
    <td><span>Gydnia, Poland</span></td>
    <td><span>Open'er </span></td>
    <td
      >Tickets <span class="sr-only"
        >for Open'er in Gydnia, Poland on Jul-03</span
      ></td
    >

    <tr>
      <td><span>Jul-07</span></td>
      <td><span>Paris, France</span></td>
      <td><span>Accor Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Accor Arena in Paris, France on Jul-07</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jul-10</span></td>
      <td><span>Madrid, Spain</span></td>
      <td><span>Mad Cool</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Mad Cool in Madrid, Spain on Jul-10</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Jul-12</span></td>
      <td><span>Oeiras, Portugal</span></td>
      <td><span>NOS Alive</span></td>
      <td
        >Tickets <span class="sr-only"
          >for NOS Alive in Oeiras, Portugal on Jul-12</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-06</span></td>
      <td><span>Oakland, CA</span></td>
      <td><span>Oakland Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Oakland Arena in Oakland, CA on Aug-06</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-08</span></td>
      <td><span>Portland, OR</span></td>
      <td><span>Moda Center</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Moda Center in Portland, OR on Aug-08</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-10</span></td>
      <td><span>Vancouver, BC</span></td>
      <td><span>Rogers Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Rogers Arena in Vancouver, BC on Aug-10</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-12</span></td>
      <td><span>Seattle, WA</span></td>
      <td><span>Climate Pledge Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Climate Pledge Arena in Seattle, WA on Aug-12</span
        ></td
      >
    </tr>

    <td><span>Aug-14</span></td>
    <td><span>Salt Lake City, UT</span></td>
    <td><span>Maverik Center</span></td>
    <td
      >Tickets <span class="sr-only"
        >for Maverik Center in Salt Lake City, UT on Aug-14</span
      ></td
    >

    <tr>
      <td><span>Aug-15</span></td>
      <td><span>Denver, CO</span></td>
      <td><span>Ball Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Ball Arena in Denver, CO on Aug-15</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-17</span></td>
      <td><span>St. Paul, MN</span></td>
      <td><span>Xcel Energy Center</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Xcel Energy Center in St. Paul, MN on Aug-17</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-19</span></td>
      <td><span>Chicago, IL</span></td>
      <td><span>United Center</span></td>
      <td
        >Tickets <span class="sr-only"
          >for United Center in Chicago, IL on Aug-19</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-22</span></td>
      <td><span>Detroit, MI</span></td>
      <td><span>Little Caesars Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Little Caesars Arena in Detroit, MI on Aug-22</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-23</span></td>
      <td><span>Toronto, ON</span></td>
      <td><span>Scotiabank Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Scotiabank Arena in Toronto, ON on Aug-23</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-26</span></td>
      <td><span>Baltimore, MD</span></td>
      <td><span>CFG Bank Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for CFG Bank Arena in Baltimore, MD on Aug-26</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-27</span></td>
      <td><span>Philadelphia, PA</span></td>
      <td><span>Wells Fargo Center</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Wells Fargo Center in Philadelphia, PA on Aug-27</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-29</span></td>
      <td><span>Boston, MA</span></td>
      <td><span>TD Garden</span></td>
      <td
        >Tickets <span class="sr-only"
          >for TD Garden in Boston, MA on Aug-29</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Aug-31</span></td>
      <td><span>Cleveland, OH</span></td>
      <td><span>Rocket Mortgage Fieldhouse</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Rocket Mortgage Fieldhouse in Cleveland, OH on Aug-31</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Sep-02</span></td>
      <td><span>New York, NY</span></td>
      <td><span>Barclays Center</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Barclays Center in New York, NY on Sep-02</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Sep-05</span></td>
      <td><span>Raleigh, NC</span></td>
      <td><span>Lenovo Center</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Lenovo Center in Raleigh, NC on Sep-05</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Sep-06</span></td>
      <td><span>Nashville, TN</span></td>
      <td><span>Bridgestone Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Bridgestone Arena in Nashville, TN on Sep-06</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Sep-09</span></td>
      <td><span>Duluth, GA</span></td>
      <td><span>Gas South Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Gas South Arena in Duluth, GA on Sep-09</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Sep-10</span></td>
      <td><span>Tampa, FL</span></td>
      <td><span>Amalie Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Amalie Arena in Tampa, FL on Sep-10</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Sep-12</span></td>
      <td><span>Houston, TX</span></td>
      <td><span>Toyota Center</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Toyota Center in Houston, TX on Sep-12</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Sep-13</span></td>
      <td><span>Ft. Worth, TX</span></td>
      <td><span>Dickies Arena</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Dickies Arena in Ft. Worth, TX on Sep-13</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Sep-16</span></td>
      <td><span>Phoenix, AZ</span></td>
      <td><span>Footprint Center</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Footprint Center in Phoenix, AZ on Sep-16</span
        ></td
      >
    </tr>

    <tr>
      <td><span>Sep-18</span></td>
      <td><span>Los Angeles, CA</span></td>
      <td><span>Kia Forum</span></td>
      <td
        >Tickets <span class="sr-only"
          >for Kia Forum in Los Angeles, CA on Sep-18</span
        ></td
      >
    </tr>
  </tbody>
</table>
